.git
.github
.idea
.vscode
node_modules
vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!storage/logs/.gitignore
!storage/framework/.gitignore
!bootstrap/cache/.gitignore
npm-debug.log
*.md
.phpunit.result.cache
